* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'Segoe UI', sans-serif;
}

/* Topo */
.secao-topo {
        border-bottom: 1px solid #d5d5d5;
}

.secao-largura-limitada {
        width: 100vw;
        color: #FFD700;
        padding-left: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        /* color: linear-gradient(90deg,rgba(212, 134, 32, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
}

h1, h2, h3 {
        margin: 0;
}

.secao-topo p {
        font-size: 22px;
        font-weight: bold;
}

/* Seção inicial com imagem de fundo */
.secao-background-capa {
        min-height: 500px;
        background-image: url('/img/capa.jpg');
        background-size: cover;
}

.secao-background-conteudo {
        text-align: right;
        padding: 50px 20px;
}

/* Seção conteúdo */
.secao-conteudo {
        padding: 50px 20px;
}

.img-conteudo {
        width: 250px;
        height: 180px;
}

.secao-conteudo span {
        border-left: 1px solid;
        padding-left: 10px;
        font-size: 20px;
}

/* Seção com imagem de fundo e texto */

.secao-background-divisao {
        padding: 50px 0;
        text-align: center;
        background-image: url('/img/fundo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.secao-background-divisao h3 {
        font-size: 36px;
        background-color: #fff;
        width: 200px;
        margin: 0 auto;
        border-radius: 20px;
}